@import url("https://fonts.googleapis.com/css2?family=Newsreader&family=Poppins:wght@300;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Paragraph Styling */
    .para {
        @apply font-serif text-xl mb-3 leading-relaxed text-stone-500;
    }

    .h1 {
        @apply text-4xl font-bold mt-5 mb-3 text-stone-600;
    }

    .h2 {
        @apply text-3xl font-semibold mt-5 mb-3 text-stone-600;
    }

    .h3 {
        @apply text-2xl font-bold mt-5 mb-3 text-stone-600;
    }

    .h4 {
        @apply text-1xl font-bold mt-5 mb-3 text-stone-600;
    }

    .card {
        @apply bg-stone-300 border-2 border-stone-400 dark:bg-stone-700 dark:border-stone-600;
    }

    .card-hover {
        @apply hover:bg-stone-400 hover:border-stone-500;
    }

    /* Full width container that wraps the entire content of a page (Including the header and footer.) */
    .page {
        @apply min-h-screen flex flex-col justify-between;
    }

    /* Full width of the page to encapsulate a section of content. */
    /* Add padding and a background to this. */
    .section {
        @apply flex justify-center w-full;
    }

    /* Fits content to a padded section with gaps on the sides. */
    .container {
        @apply w-11/12 lg:w-8/12 max-w-6xl;
    }
}
